/* IMPORT*/

@font-face {
    font-family: font-thin;
    src: url(../font/Raleway-Thin.ttf);
}
@font-face {
    font-family: font-light;
    src: url(../font/Raleway-Light.ttf);
}
@font-face {
    font-family: font-regular;
    src: url(../font/Raleway-Regular.ttf);
}
@font-face {
    font-family: font-medium;
    src: url(../font/Raleway-Medium.ttf);
}
@font-face {
    font-family: font-bold;
    src: url(../font/Raleway-Bold.ttf);
}
@font-face {
    font-family: font-extrabold;
    src: url(../font/Raleway-ExtraBold.ttf);
}
/* //IMPORT */

/* ESTANDARIZACION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-regular;
    font-size: 18px;
}

/* .container-fluid{
    display: flex;
    height: 100%;
} */

p{
    font-family: font-regular;
    font-size: 18px;
}
/* ESTANDARIZACION */

:root {
    --color_rojo: #8b0000;
    --color_rojo-transparente: #8b000049;
    --color_font_nav: #8b0000;  
}
.navbar{
    background-color: white !important;;
}
.navbar .navbar-nav .nav-item a{
    font-family: font-regular;
}
.nav-item{
    color: var(--color_font_nav);
    font-family: font-regular;
    font-size: 13px;
}
.nav-item a:hover{
    background-color: var(--color_font_nav);
    color: white!important;
}
/* HOME */


#home{
    height: 50vh !important;
    width: 100%;
    background-image: url(../layout/home_torres.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover ;
}
.img-fluid{
    max-width: 90% !important;;
}
/* HOME */
/* SERVICIOS */
#servicios {
    height: 50vh;
}
#servicios p{
    font-size:16px;
    font-family: font-regular;
}

.title-servicios{
    margin-top: 50px;
    margin-right: 50px;
    font-family: font-bold;
    font-size: 42px;
}
.title-servicios span{
    font-family: font-regular;
    font-size: 42px;
}
/* SERVICIOS */
/* NUESTRA VISIÓN */
#vision{
    height: 100%;
}
#vision h4{
    font-family: font-bold;
    font-size: 42px;
}
/* NUESTRA VISIÓN */
/* NOSOTROS */
#nosotros{
    height: 70vh;
    display: flex;
    align-content: center;
}
#nosotros h4{
    font-family: font-bold;
    font-size: 42px!important;
}
#nosotros .card img:hover{
    zoom: 55%;
}
.card-body{
    flex: 0 1 auto;
    padding: 3px;
}
.card img:hover {
    bottom: 0;
    scale: 101%;
    color: #e31ba7;
    animation: popBackground 0.3s ease-in
}
/* NOSOTROS */
/* contacto */
#contacto{
    height: 50vh;
    background-image: url(../layout/contacto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}
.form-control{
    height: 30px;
    font-family: font-light;
    font-size: 13px;
}
#contacto ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color_rojo);
    font-weight: bold;
    opacity: 1; /* Firefox */
}
/* contacto */


/* MEDIA QUERY */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 769px) { 
#home{
    display: flex;
    height: 100vh!important;
    flex-direction: column!important;
    flex-wrap: wrap!important;
}
.box-home{
    height: 50%
}
.title-servicios{
    text-align: center!important;
    margin: 0 0!important;
}
#servicios{
    height: min-content!important;
}
#vision{
    height: min-content!important;
}
#nosotros{
    height: min-content!important;
}
.card{
    padding-bottom: 20px;
}
#contacto{
    height: min-content!important;
}

}
@media (max-width: 992px) { 
    #home{
        height: min-content!important;
    }
    #servicios{
        height: min-content!important;
    }
    #nosotros{
        height: min-content!important;
    }
    #contacto{
        height: min-content!important;
    }
    .img-fluid{
        max-width: 50% !important;;
    }
    .box-home{
        height: 50vh;
    }
    .contacto{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
/* MEDIA QUERY */

